In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

import warnings
warnings.filterwarnings("ignore")

In [2]:
df = pd.read_csv('comp.filter.csv')

In [3]:
df.dropna(inplace= True)

In [4]:
df['user_score'] = df['event_type'].map({'view':1,'cart':10,'purchase':50})

In [5]:
nokta = "."
df['Description'] = df['brand'] + nokta + df['category_code']

In [6]:
df

,Unnamed: 0.1,Unnamed: 0,event_time,event_type,product_id,category_id,general_category,category_code,brand,price,user_id,user_session,date,user_score,Description
0,1,3,2019-10-01 00:00:01 UTC,view,1307067,2053013558920217191,computers,computers.notebook,lenovo,251.74,550050854,7c90fc70-0e80-4590-96f3-13c02c18c713,2019-10-01,1,lenovo.computers.notebook
1,3,5,2019-10-01 00:00:05 UTC,view,1480613,2053013561092866779,computers,computers.desktop,pulser,908.62,512742880,0d0d91c2-c9c2-4e81-90a5-86594dec0db9,2019-10-01,1,pulser.computers.desktop
2,12,18,2019-10-01 00:00:19 UTC,view,1306631,2053013558920217191,computers,computers.notebook,hp,580.89,550050854,7c90fc70-0e80-4590-96f3-13c02c18c713,2019-10-01,1,hp.computers.notebook
3,16,22,2019-10-01 00:00:22 UTC,view,1480714,2053013561092866779,computers,computers.desktop,pulser,921.49,512742880,0d0d91c2-c9c2-4e81-90a5-86594dec0db9,2019-10-01,1,pulser.computers.desktop
4,33,50,2019-10-01 00:00:37 UTC,view,1701111,2053013553031414015,computers,computers.peripherals.monitor,acer,514.79,547028884,3ea7c620-a8d7-45c5-9ced-2e9874e2f549,2019-10-01,1,acer.computers.peripherals.monitor
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
356720,4027285,6310330,2019-10-05 23:59:20 UTC,view,1480584,2053013561092866779,computers,computers.desktop,hp,984.20,514752680,d17778a4-d468-4c41-a17d-f3c47f739d8d,2019-10-05,1,hp.computers.desktop
356721,4027301,6310369,2019-10-05 23:59:40 UTC,view,1480584,2053013561092866779,computers,computers.desktop,hp,984.20,514752680,d17778a4-d468-4c41-a17d-f3c47f739d8d,2019-10-05,1,hp.computers.desktop
356722,4027310,6310390,2019-10-05 23:59:50 UTC,view,1480171,2053013561092866779,computers,computers.desktop,acer,823.67,514752680,d17778a4-d468-4c41-a17d-f3c47f739d8d,2019-10-05,1,acer.computers.desktop
356723,4027315,6310398,2019-10-05 23:59:55 UTC,view,1306556,2053013558920217191,computers,computers.notebook,lenovo,926.64,513465266,8576dd95-91d5-47c3-aa50-6220118fbd38,2019-10-05,1,lenovo.computers.notebook
356724,4027316,6310400,2019-10-05 23:59:57 UTC,view,6400313,2053013554121933129,computers,computers.components.cpu,intel,177.48,546038044,b8338d61-1101-4817-88dc-b29f00ca355c,2019-10-05,1,intel.computers.components.cpu

In [7]:
df.drop('Unnamed: 0',axis=1, inplace=True)
df.drop('Unnamed: 0.1',axis=1, inplace=True)

In [8]:
#df.to_csv('recommender_df.csv')

In [9]:
df["product_id"].nunique()

5545

In [10]:
df["product_id"].value_counts().head()

1307073    6568
1307074    3998
1306650    3807
1307188    3781
1307237    3351
Name: product_id, dtype: int64

In [19]:
comment_counts = pd.DataFrame(df["product_id"].value_counts())
rare_product = comment_counts[comment_counts["product_id"] <= 1000].index

In [20]:
common_product = df[~df["product_id"].isin(rare_product)]
user_product_df = common_product.pivot_table(index=["user_id"], columns=["product_id"], values="user_score")

In [22]:
user_product_df.shape

(23724, 51)

In [23]:
user_product_df.head()

product_id,1304297,1304409,1305977,1305996,1306021,1306185,1306256,1306310,1306359,1306560,...,1401872,1480163,1480524,1480558,1500021,1500258,1500440,1500447,1700954,11600325
user_id,,,,,,,,,,,,,,,,,,,,,
340041246,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
359660585,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
382810187,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
391068084,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
392880362,NaN,1.0,NaN,1.0,NaN,NaN,NaN,NaN,1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [24]:
user_product_df.fillna(0)

product_id,1304297,1304409,1305977,1305996,1306021,1306185,1306256,1306310,1306359,1306560,...,1401872,1480163,1480524,1480558,1500021,1500258,1500440,1500447,1700954,11600325
user_id,,,,,,,,,,,,,,,,,,,,,
340041246,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
359660585,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
382810187,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
391068084,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
392880362,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
557182295,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
557182521,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
557184717,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
557184825,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
557193222,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

------

In [35]:
#Ã¼rÃ¼n id'si girilen Ã¼rÃ¼nÃ¼n benzerlerini getirme
product_name = 1306359 #1500447
product_name = user_product_df[product_name]
user_product_df.corrwith(product_name).sort_values(ascending=False).head(5)

product_id
1306359    1.000000
1306948    0.801939
1304297    0.763764
1306021    0.677580
1306560    0.651066
dtype: float64

In [34]:
#Rastgele bir Ã¼rÃ¼nÃ¼n id2sini kullanarak benzer Ã¼rÃ¼nleri getirme
product_name = pd.Series(user_product_df.columns).sample(1).values[0] #rastgele film seÃ§me
product_name = user_product_df[product_name]
user_product_df.corrwith(product_name).sort_values(ascending=False).head(5)

product_id
1500447    1.000000
1306650    1.000000
1307344    0.944813
1304297    0.636013
1306653    0.376594
1307073    0.301179
1307135    0.209389
1307074    0.151080
1307188    0.145690
1307067    0.070621
dtype: float64

In [40]:
df[df['product_id'] == 1306359].head(1)

,event_time,event_type,product_id,category_id,general_category,category_code,brand,price,user_id,user_session,date,user_score,Description
16,2019-10-01 00:03:17 UTC,view,1306359,2053013558920217191,computers,computers.notebook,acer,643.49,550050854,7c90fc70-0e80-4590-96f3-13c02c18c713,2019-10-01,1,acer.computers.notebook

In [41]:
df[df['product_id'] == 1306948].head(1)

,event_time,event_type,product_id,category_id,general_category,category_code,brand,price,user_id,user_session,date,user_score,Description
220,2019-10-01 02:25:13 UTC,view,1306948,2053013558920217191,computers,computers.notebook,hp,694.97,535050650,9ac2ac3a-6607-4c02-a8e3-357d7ef406a7,2019-10-01,1,hp.computers.notebook

In [43]:
df[df['product_id'] == 1306021].head(1)

,event_time,event_type,product_id,category_id,general_category,category_code,brand,price,user_id,user_session,date,user_score,Description
1159,2019-10-01 02:56:35 UTC,view,1306021,2053013558920217191,computers,computers.notebook,lenovo,468.48,543764047,d7794d6f-ec0e-497c-8082-2de675893af5,2019-10-01,1,lenovo.computers.notebook

In [ ]:
df[df['product_id'] == 1304297].head(1)

In [29]:
def check_id(dataframe, product_id):
    product_name = dataframe[dataframe["product_id"] == product_id][["Description"]].values[0].tolist()
    print(product_name)

In [39]:
check_id(df, 1306021)

['lenovo.computers.notebook']

-------